@import "rgbanimation.css";

html {
  min-height: 100%;
}

body {
  background: url("../images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  z-index: 1;
}

.rgb_effect {
  animation-name: rgbIsCool;
  animation-duration: 1.8s;
  animation-delay: 0s;
  animation-iteration-count: infinite;
}

.rgb_effect2 {
  animation-name: rgbAnimation;
  animation-duration: 1.8s;
  animation-delay: 0s;
  animation-iteration-count: infinite;
}

/* https://stackoverflow.com/questions/18815157/how-to-overlay-image-with-color-in-css */
.sachi {
  position: absolute;
  top: 80px;
  left: 0px;
}

.visibility {
  display: none;
}

p {
  margin: 0;
  padding: 0;
}

#clock {
  font-family: "Share Tech Mono", monospace;
  color: #ffffff;
  position: absolute;
  top: 880px;
  left: 1400px;
  text-shadow: 0 0 35px #0aafe6;
}

#clock .time {
  letter-spacing: 0.05em;
  font-size: 80px;
  padding: 5px 0;
}

#clock .date {
  letter-spacing: 0.1em;
  font-size: 24px;
  padding: 5px 0;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
}
